# To run doctests (during "python setup.py test")
Sphinx>=1.5.2
sphinx-bootstrap-theme>=0.4.14

# Linters, also in test target
# Pylama still not compatible with pydocstyle version 2.
# Bug report in https://github.com/klen/pylama/issues/96
pydocstyle ~= 1.1.1
pylama ~= 7.3.3
pylama_pylint ~= 3.0.1
radon ~= 1.5.0

coverage >= 4.4.1

# rrdtool is required to resolve imports while testing
rrdtool ~= 0.1.11
